
<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="../../assets/images/logoLogin.png"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
             
            <div class="divider d-flex align-items-center my-4">
              <p class="text-center fw-bold mx-3 mb-0">Iniciar Sesión</p>
            </div>
  
            <!-- Email input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="usuario">Usuario</label>
              <input type="email" id="usuario" name="usuario" class="form-control form-control-lg"
                placeholder="Ingrese un email válido" 
                #usuario="ngModel" [(ngModel)]="datosLogin.usuario"
                pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{2,5}" 
                required
                />
                @if (!usuario.valid && usuario.touched) {
                  <br>
                  <small class="text-danger">usuario requerido</small>
                }
              
            </div>
  
            <!-- Password input -->
            <div class="form-outline mb-3">
              <label class="form-label" for="contrasena">Contraseña</label>
              <input type="password" id="contrasena" name="contrasena" class="form-control form-control-lg"
                placeholder="Ingrese la contraseña" 
                #contrasena="ngModel" [(ngModel)]="datosLogin.contrasena"
                required
                />
                @if (!contrasena.valid && contrasena.touched) {
                  <br>
                  <small class="text-danger">Debes digitar tu contraseña</small>
                }
              
            </div>

            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="submit" class="btn btn-primary btn-lg" id="btnLogin" [disabled]="loginForm.invalid"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">Iniciar Sesión</button>
            </div>
  
          </form>
        </div>
      </div>
    </div>
    
    <div class="pie">
      <div
        class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5">
        <!-- Copyright -->
        <div class="text-white mb-3 mb-md-0">
          Copyright © 2024. Todos los derechos reservados.
        </div>
      </div>
  </div>
  </section>