nav.menu_principal {
    border-top: #AAA 2px solid;
    border-bottom: #AAA 2px solid;
    background-color: #37a1a1;
    
}

nav.menu_principal ul {
    padding: 0px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 0px;
    
    
}

nav.menu_principal ul > li{
    display:inline-block;
    padding:15px;
    height: 50px;
    
    
}

nav.menu_principal ul > li > a {
    text-decoration: none;
    color: whitesmoke;
}

.seleccionado {
    background-color: #097575;
}