header div.fondo_titulo {
    background-image: url('https://images.ctfassets.net/vh0nkz8jvxsb/6gNRzVEgydbc1pntyjpLp8/bfec7c1218943c37bade22865dd595ad/shutterstock_1428150203.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 150px;
    text-align: center;
    color: white;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    
}



header.titulo_principal h1{
    margin: 0px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    background-color: white;

}



#imagen_logo {
    background-image: url(/assets/images/img1.jpg);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: 10px;
    margin-left: 7px;
    height: 70px;
    
}

#logo{
   
    background-color: white;
    height: 100px;
    width: 100px;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 50px;
    overflow: hidden;
    
}

#contenedor_texto{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: white;
    width: 400px;
    height: 40px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
    border-radius: 50px;
    
   
}

#texto_titulo{
    margin-top: auto;
    margin-bottom: auto;
    color: #060072;
    font-size: xx-large;
}

 


